html,
body {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100%;
  margin-bottom: -40px;
}

@font-face {
  font-family: header;
  src: url("./fonts/Righteous/Righteous-Regular.ttf");
}

@font-face {
  font-family: lobster;
  src: url("./fonts/Lobster/Lobster-Regular.ttf");
}

.dSLogo {
  font-family: header;
  margin-left: 25px;
  margin-top: 10px;
}

.date {
  margin-right: 20px;
  margin-top: 15px;
}

.tagline {
  margin-left: 10vw;
  font-family: lobster;
}

.homePage {
  min-height: 93vh;
}

@media only screen and (max-width: 767px) {
  .dSLogo {
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .dSLogo {
    font-size: 42px;
  }
}

@media only screen and (min-width: 992px) {
  .dSLogo {
    font-size: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .dSLogo {
    font-size: 55px;
  }
}

.homePageLink {
  text-align: right;
}

hr {
  max-width: 80%;
}

.links {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

.linkStyle {
  text-decoration: none;
  color: black;
}

.cardRow {
  margin: 2%;
}

.cards {
  text-align: center;
  border: 1px solid black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.copyright {
  position: sticky;
  height: 40px;
}
